In [7]:
import sys
import os
# Ajouter le chemin du dossier parent à sys.path
notebook_dir = os.path.abspath('..')  # Dossier parent de "notebook/"
sys.path.append(notebook_dir)

# Importer toutes les fonctions du module
from fonctions.importation import *

In [8]:
df = etl(r'C:\Users\najim\Documents\Master 2\MLOps\projet\data')
df

**************************************************
Démarrage du processus d'importation

Importation du fichier LondonHousePrice_1995.csv
Importation du fichier LondonHousePrice_1996.csv
Importation du fichier LondonHousePrice_1997.csv
Importation du fichier LondonHousePrice_1998.csv
Importation du fichier LondonHousePrice_1999.csv
Importation du fichier LondonHousePrice_2000.csv
Importation du fichier LondonHousePrice_2001.csv
Importation du fichier LondonHousePrice_2002.csv
Importation du fichier LondonHousePrice_2003.csv
Importation du fichier LondonHousePrice_2004.csv
Importation du fichier LondonHousePrice_2005.csv
Importation du fichier LondonHousePrice_2006.csv
Importation du fichier LondonHousePrice_2007.csv
Importation du fichier LondonHousePrice_2008.csv
Importation du fichier LondonHousePrice_2009.csv
Importation du fichier LondonHousePrice_2010.csv
Importation du fichier LondonHousePrice_2011.csv
Importation du fichier LondonHousePrice_2012.csv
Importation du fichier LondonHousePrice_2013.csv
Importation du fichier LondonHousePrice_2014.csv
Importation du fichier LondonHousePrice_2015.csv
Importation du fichier LondonHousePrice_2016.csv
Importation du fichier LondonHousePrice_2017.csv
Importation du fichier LondonHousePrice_2018.csv
Importation du fichier LondonHousePrice_2019.csv
Importation du fichier LondonHousePrice_2020.csv
Importation du fichier LondonHousePrice_2021.csv
Importation du fichier LondonHousePrice_2022.csv
Importation du fichier LondonHousePrice_2023.csv
Importation du fichier LondonHousePrice_2024.csv
Processus d'importation terminé
**************************************************

Aperçue des données :
                                              fullAddress  postcode  country  \
0       Flat 1, White Rose Court, Widegate Street, Lon...    E1 7ES  England
1                     20 Princelet Street, London, E1 6QH    E1 6QH  England
2                       34 Hanbury Street, London, E1 6QR    E1 6QR  England
3                       34 Hanbury Street, London, E1 6QR    E1 6QR  England
4                       34 Hanbury Street, London, E1 6QR    E1 6QR  England
...                                                   ...       ...      ...
282867        Flat 9, 4–10 Tower Street, London, WC2H 9NP  WC2H 9NP  England
282868        Flat 3, 25 Shelton Street, London, WC2H 9HW  WC2H 9HW  England
282869  Flat 7, Kipling House, 43 Villiers Street, Lon...  WC2N 6NE  England
282870         Flat 4, 34 Craven Street, London, WC2N 5NP  WC2N 5NP  England
282871  Flat 3, 22 Northumberland Avenue, London, WC2N...  WC2N 5AP  England

       outcode   latitude  longitude  bathrooms  bedrooms  floorAreaSqM  \
0           E1  51.517972  -0.078028        2.0       2.0          73.0
1           E1  51.519679  -0.072449        4.0       4.0         157.0
2           E1  51.520198  -0.072327        3.0       4.0         212.0
3           E1  51.520198  -0.072327        3.0       4.0         212.0
4           E1  51.520198  -0.072327        3.0       4.0         212.0
...        ...        ...        ...        ...       ...           ...
282867    WC2H  51.513287  -0.128077        NaN       NaN         106.0
282868    WC2H  51.513553  -0.126193        2.0       2.0          70.0
282869    WC2N  51.507959  -0.123353        1.0       2.0          74.0
282870    WC2N  51.507513  -0.124683        2.0       2.0         111.0
282871    WC2N  51.507258  -0.125025        2.0       3.0         156.0

        livingRooms  ... saleEstimate_upperPrice saleEstimate_confidenceLevel  \
0               1.0  ...                684000.0                         HIGH
1               NaN  ...               3407000.0                         HIGH
2               2.0  ...               3962000.0                       MEDIUM
3               2.0  ...               3962000.0                       MEDIUM
4               2.0  ...               3962000.0                       MEDIUM
...             ...  ...                     ...                          ...
282867          NaN  ...               1771000.0                          LOW
282868          NaN  ...                898000.0                         HIGH
282869          1.0  ...               1073000.0                         HIGH
282870          1.0  ...               1469000.0                         HIGH
282871          1.0  ...               2352000.0                          LOW

         saleEstimate_ingestedAt  saleEstimate_valueChange.numericChange  \
0       2024-10-07T13:26:59.894Z                                 28000.0
1       2024-10-07T13:26:59.894Z                                145000.0
2       2024-10-07T13:26:59.894Z                               1002000.0
3       2024-10-07T13:26:59.894Z                               1002000.0
4       2024-10-07T13:26:59.894Z                               1002000.0
...                          ...                                     ...
282867  2024-10-07T13:26:59.894Z                                -44000.0
282868  2024-10-07T13:26:59.894Z                                 41000.0
282869  2024-10-07T13:26:59.894Z                                 92000.0
282870  2024-10-07T13:26:59.894Z                                 49000.0
282871  2024-10-07T13:26:59.894Z                               -330000.0

        saleEstimate_valueChange.percentageChange  \
0                                        4.494382
1                                        4.677419
2                                       38.538462
3                                       38.538462
4                                       38.538462
...                                           ...
282867                                  -2.894737
282868                                   5.030675
282869                                   9.892473
282870                                   3.629630
282871                                 -14.410480

        saleEstimate_valueChange.saleDate  history_date  history_price  \
0                              2023-10-31    1995-09-21          83500
1                              2024-06-10    1995-08-24         135000
2                              2017-08-22    1995-07-24         115000
3                              2017-08-22    1995-05-02          85000
4                              2017-08-22    1995-04-04          52000
...                                   ...           ...            ...
282867                         2024-01-31    2024-01-31        1520000
282868                         2024-05-15    2024-05-15         815000
282869                         2024-03-28    2024-03-28         930000
282870                         2024-02-16    2024-02-16        1350000
282871                         2024-03-27    2024-03-27        2290000

        history_percentageChange history_numericChange
0                            NaN                   NaN
1                            NaN                   NaN
2                      35.294118               30000.0
3                      63.461538               33000.0
4                            NaN                   NaN
...                          ...                   ...
282867                  8.571429              120000.0
282868                 91.764706              390000.0
282869                -19.130435             -220000.0
282870                147.706422              805000.0
282871                141.052632             1340000.0

[282872 rows x 28 columns]

,fullAddress,postcode,country,outcode,latitude,longitude,bathrooms,bedrooms,floorAreaSqM,livingRooms,...,saleEstimate_upperPrice,saleEstimate_confidenceLevel,saleEstimate_ingestedAt,saleEstimate_valueChange.numericChange,saleEstimate_valueChange.percentageChange,saleEstimate_valueChange.saleDate,history_date,history_price,history_percentageChange,history_numericChange
0,"Flat 1, White Rose Court, Widegate Street, Lon...",E1 7ES,England,E1,51.517972,-0.078028,2.0,2.0,73.0,1.0,...,684000.0,HIGH,2024-10-07T13:26:59.894Z,28000.0,4.494382,2023-10-31,1995-09-21,83500,NaN,NaN
1,"20 Princelet Street, London, E1 6QH",E1 6QH,England,E1,51.519679,-0.072449,4.0,4.0,157.0,NaN,...,3407000.0,HIGH,2024-10-07T13:26:59.894Z,145000.0,4.677419,2024-06-10,1995-08-24,135000,NaN,NaN
2,"34 Hanbury Street, London, E1 6QR",E1 6QR,England,E1,51.520198,-0.072327,3.0,4.0,212.0,2.0,...,3962000.0,MEDIUM,2024-10-07T13:26:59.894Z,1002000.0,38.538462,2017-08-22,1995-07-24,115000,35.294118,30000.0
3,"34 Hanbury Street, London, E1 6QR",E1 6QR,England,E1,51.520198,-0.072327,3.0,4.0,212.0,2.0,...,3962000.0,MEDIUM,2024-10-07T13:26:59.894Z,1002000.0,38.538462,2017-08-22,1995-05-02,85000,63.461538,33000.0
4,"34 Hanbury Street, London, E1 6QR",E1 6QR,England,E1,51.520198,-0.072327,3.0,4.0,212.0,2.0,...,3962000.0,MEDIUM,2024-10-07T13:26:59.894Z,1002000.0,38.538462,2017-08-22,1995-04-04,52000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282867,"Flat 9, 4–10 Tower Street, London, WC2H 9NP",WC2H 9NP,England,WC2H,51.513287,-0.128077,NaN,NaN,106.0,NaN,...,1771000.0,LOW,2024-10-07T13:26:59.894Z,-44000.0,-2.894737,2024-01-31,2024-01-31,1520000,8.571429,120000.0
282868,"Flat 3, 25 Shelton Street, London, WC2H 9HW",WC2H 9HW,England,WC2H,51.513553,-0.126193,2.0,2.0,70.0,NaN,...,898000.0,HIGH,2024-10-07T13:26:59.894Z,41000.0,5.030675,2024-05-15,2024-05-15,815000,91.764706,390000.0
282869,"Flat 7, Kipling House, 43 Villiers Street, Lon...",WC2N 6NE,England,WC2N,51.507959,-0.123353,1.0,2.0,74.0,1.0,...,1073000.0,HIGH,2024-10-07T13:26:59.894Z,92000.0,9.892473,2024-03-28,2024-03-28,930000,-19.130435,-220000.0
282870,"Flat 4, 34 Craven Street, London, WC2N 5NP",WC2N 5NP,England,WC2N,51.507513,-0.124683,2.0,2.0,111.0,1.0,...,1469000.0,HIGH,2024-10-07T13:26:59.894Z,49000.0,3.629630,2024-02-16,2024-02-16,1350000,147.706422,805000.0
282871,"Flat 3, 22 Northumberland Avenue, London, WC2N...",WC2N 5AP,England,WC2N,51.507258,-0.125025,2.0,3.0,156.0,1.0,...,2352000.0,LOW,2024-10-07T13:26:59.894Z,-330000.0,-14.410480,2024-03-27,2024-03-27,2290000,141.052632,1340000.0