In [1]:
#Importation de librairies
import pandas as pd 
import numpy as np 
# Importer les bibliothèques nécessaires
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import KFold, cross_val_score
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.neighbors import KNeighborsRegressor

In [2]:
data=pd.read_csv(r'..\data\data_clean\data_preprocess.csv')
data

                            TYPE    PRICE  BEDS  BATH  PROPERTYSQFT BOROUGH
0     Multi-family home for sale  1100000     6     3          2837   Bronx
1     Multi-family home for sale   925000     5     2          2750   Bronx
2     Multi-family home for sale   700000     6     2          3053   Bronx
3                     Autre_Type   119000     3     2          2184   Bronx
4     Multi-family home for sale   600000     2     2          2184   Bronx
...                          ...      ...   ...   ...           ...     ...
4791              Co-op for sale   280000     2     1          1050   Bronx
4792              Co-op for sale   375000     2     1          2184   Bronx
4793              Co-op for sale   167999     1     1          2184   Bronx
4794              Co-op for sale   309000     2     1          2184   Bronx
4795              Co-op for sale   295500     1     1          2184   Bronx

[4796 rows x 6 columns]

Mean Squared Error (MSE): 4722211458856.25
Coefficient of Determination (R²): 0.50

Mean MSE (k-fold): 6508420969961.52
Mean R² (k-fold): 0.60

Mean Squared Error (MSE): 4256319267448.76
Coefficient of Determination (R²): 0.55